/* Vue Mobile Menu */
.edublink-mobile-menu {
    &.mainmenu {
        li {
            position: relative;
            &:not(:last-child) {
                margin-bottom: 5px;
            }
            a {
                &.scrollactive-item {
                    &.is-active {
                        color: var(--color-primary);
                    }
                }
            }
        }

        .submenu-wrapper {
            display: none;
            padding: 0;
            max-width: 100%;
            list-style: none;
            padding-left: 14px;
            li {
                margin-bottom: 5px;
                .submenu-wrapper {
                    li { 
                        a {
                            line-height: 25px;
                            font-weight: 400;
                        }
                    }
                }
            }
            &.active {
                display: block;
            }
        }
        .submenu-toggle {
            width: 30px;
            height: 30px;
            background-color: #f3f3f3;
            text-align: center;
            font-size: 22px;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 9px;
            cursor: pointer;
            i {
                transition: 0.3s;
                line-height: 32px;
                &::before {
                    content: "\ea78";
                    font-family: "remixicon";
                }
            }
        }
    }
}

/* Menu CSS */
.mainmenu-nav .mainmenu li.has-droupdown .submenu li a.nuxt-link-exact-active {
    color: var(--color-primary);;
}

.mainmenu-nav a.scrollactive-item.is-active {
    color: var(--color-primary);
}

.header-action li.icon button.search-trigger {
    font-size: 22px;
    color: var(--color-heading);
    position: relative;
}

.dark-mode .mainmenu-nav .mainmenu li.has-droupdown .mega-menu .submenu {
    box-shadow: inherit !important;
}

.dark-mode {
    .header-action {
        li {
            &.icon {
                &.light-dark-icon {
                    .edublink-vue-light-dark-switcher {
                        svg {
                            color: var(--color-white);
                            path {
                                color: var(--color-white);
                                fill: var(--color-white);
                            }
                        }
                    }
                }
            }
        }
    }
    .edublink-vue-mobile-popup-menu {
        .inner {
            background: var(--dark-color-bg-body);
        }
        .mainmenu {
            li {
                a {
                    color: var(--color-white);
                    &:hover {
                        color: var(--color-primary);
                    }
                }
            }
        }
        .edublink-mobile-menu{
            &.mainmenu {
                .submenu-toggle {
                    background-color: var(--bg-color-2);
                    color: #ffffff;
                }
            }
        }
        .inner {
            .header-top {
                .close-menu {
                    .close-button {
                        background: var(--dark-color-border);
                        &:hover {
                            color: var(--color-white);
                            background: var(--color-primary);
                        }
                    }
                } 
            } 
        }
    }
}

.search-trigger {
    margin: 0;
    padding: 0;
    background: transparent;
    border: 0;
}

/* swiper default styles */
.swiper-pagination {
    position: static;
    display: block;
    line-height: 1;
    margin-top: 25px;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    .swiper-pagination-bullet {
        height: 7px;
        width: 7px;
        background-color: rgba(26,182,157,.3);
        opacity: 1;
        margin: 0 8px!important;
        display: inline-block;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        &.swiper-pagination-bullet-active {
            background-color: #1ab69d;
        }
    }
}

/* AOS animation in mobile */
@media #{$sm-layout}{
    [data-aos^="fade"] {
        opacity: 1 !important;
        transform: none !important;
    }
}

/* FunFact CSS */
.edu-vue-count-suffix {
    margin-left: -8px;
}

/* Video/Video PopUp CSS */
a.video-play-btn.video-popup-activation {
    cursor: pointer;
}

a.play-btn {
    cursor: pointer;
}

/* Course CSS */
.edu-course-six-each-item:not(:last-child) {
    margin-bottom: 50px;
}
.edu-course-six-each-item .edu-course.course-style-8 {
    margin-bottom: 0px;
}

.edu-course .hover-content-aside {
    width: 350px;
}
.course-style-3-third-item {
    .edu-course {
        .hover-content-aside {
            @media only screen and (max-width: 1880px) {
                left: auto;
                right: 100%;
                padding-left: 0;
                padding-right: 12px;
                .content:before {
                    left: auto;
                    right: -12px;
                    -webkit-transform: scaleX(-1);
                    -ms-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    
    }

    &.course-style-3-even {
        .hover-content-aside {
            @media only screen and (max-width: 1199px) {
                left: auto;
                right: 100%;
                padding-left: 0;
                padding-right: 12px;
                .content:before {
                    left: auto;
                    right: -12px;
                    -webkit-transform: scaleX(-1);
                    -ms-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
            @media only screen and (max-width: 767px) {
                display: none;
            }
        }
    }

    &.course-style-3-odd {
        .edu-course {
            .hover-content-aside {
                @media only screen and (max-width: 1199px) {
                    left: 100%;
                    right: inherit;
                    padding-left: 12px;
                    padding-right: 0;
                    .content:before {
                        right: inherit;
                        left: -13px;
                        transform: translateY(-50%);
                    }
                }
                @media only screen and (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}

.course-style-3-even {
    .hover-content-aside {
        @media only screen and (max-width: 1199px) {
            left: auto;
            right: 100%;
            padding-left: 0;
            padding-right: 12px;
            .content:before {
                left: auto;
                right: -12px;
                -webkit-transform: scaleX(-1);
                -ms-transform: scaleX(-1);
                transform: scaleX(-1);
            }
        }
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}

.course-style-3-odd {
    .hover-content-aside {
        @media only screen and (max-width: 767px) {
            display: none;
        }
    }
}

/* Gallery Grid/Masonry CSS */
.edublink-vue-gallery-masonry {
    .edu-gallery-grid {
        width: 100%;
    }
}

/* Blog CSS */
.masonry-blog-items {
    .masonry-item {
        margin-bottom: 65px;
        padding: 0 15px;
    }
}

.blog-style-1,
.blog-style-2 {
    .title {
        a {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

/* Event CSS */

.edu-event { 
    &.event-style-1 {
        box-shadow: none;
    }
}

.edu-event-list {
    .event-list-2 { 
        .thumbnail {
            img {
                width: 320px;
                height: 250px;
                object-fit: cover;
            }
        }
    }
}

.event-details .details-content .event-meta li a {
    color: var(--color-heading);
}

.event-details .details-content .event-meta li a:hover {
    color: var(--color-primary);
}

/* Product/Product Details/Cart/Checkout/Wishlist CSS */
.edublink-vue-product-btn {
    button {
        margin: 0;
        padding: 0;
        border: 0;
        background: transparent;
    }
}

.checkout-page-vue-coupon-form-toggle {
    cursor: pointer;
}

.checkout-page-vue-coupon-form.collapsing {
    transition: height .05s ease;
}

.checkout-page-vue-coupon-form {
    margin-top: 10px;
    margin-bottom: 30px;
}

/* Pagination CSS */
.edublink-vue-pagination {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
    &.mt--0 {
        margin-top: 0;
    }
    &.mt--70 {
        margin-top: 70px;
    }
    &.align-left {
        justify-content: flex-start;
    }
    @media #{$sm-layout}{
        margin-top: 40px;
        &.mt--0 {
            margin-top: 0;
        }
    }
    .pagination {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .page-item {
        display: inline-block;
        margin: 0 7px;
        z-index: 0;
        .page-link {
            display: block;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
            border-radius: 100%;
            border: none;
            padding: 0;
            cursor: pointer;
            color: var(--color-black);
            box-shadow: 0 0px 12px 0.8px rgba(0, 0, 0, 0.1);
            &:hover {
                color: var(--color-white);
            }
        }
        &.active,
        &:hover {
            .page-link {
                background: var(--gradient-primary);
                color: var(--color-white);
            }
        }
        &.active {
            .page-link {
                cursor: auto;
            }
        }
        &.disabled {
            .page-link {
                cursor: not-allowed;
            }
            &:hover {
                .page-link {
                    color: var(--color-white);
                    background: var(--gradient-primary);
                }
            }
        }
        &:first-child, &:last-child {
            display: none;
        }
    }
    .VuePagination__count,
    .VuePagination__pagination-item-prev-chunk,
    .VuePagination__pagination-item-next-chunk {
        display: none;
    }

    .VuePagination__pagination-item-prev-page {
        position: relative;
        ::before {
            content: "\e95b";
            font-family: 'icomoon' !important;
        }
    }

    .VuePagination__pagination-item-next-page {
        position: relative;
        ::before {
            content: "\e95a";
            font-family: 'icomoon' !important;
        }
    }
}

.dark-mode {
    .edublink-vue-pagination {
        .page-item {
            .page-link {
                color: var(--color-black);
                &:hover {
                    color: var(--color-white);
                }
            }
            &.active {
                .page-link {
                    color: var(--color-white);
                }
            }
            &.disabled {
                &:hover {
                    .page-link {
                        color: var(--color-white);
                    }
                }
            }
        }
            
    }
}

/* Dark/Light Switcher CSS */
.edublink-vue-light-dark-switcher {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    margin-top: -3px;
    svg {
        &.edublink-moon-icon {
            max-width: 23px;
        }
        path {
            color: var(--color-heading);
        }
    }
}

/* Miscellaneous */
@keyframes edublink-marque-animation {
    0% {
        background-position: 0%; 
    }
    100% {
        background-position: 5440px; 
    } 
}

.background-marque {
    animation: edublink-marque-animation 50s linear infinite reverse;
    pointer-events: none;
}

.edublink-svg-animate {
    svg {
        path {
            @media #{$md-layout-1} {
                stroke-dashoffset: 0 !important;
            }
        }
    }
}


//course video popup style

.video-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000cc;
    opacity: 0;
    transition: all ease 500ms;
    visibility: hidden;
}
.video-overlay-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
}
.video-overlay.open {
    position: fixed;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
}
.video-overlay iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 15px #000000bf;
    z-index: 1000;
    width: 80%;
    height: 80%;
}
.video-play-btn,
.video-popup-activation {
    cursor: pointer;
}



.swiper-btn-nxt,
.swiper-btn-prv {
    cursor: pointer;
}
div.swiper-navigation .swiper-btn-nxt, div.swiper-navigation .swiper-btn-prv {
	line-height: 64px;
}
.edu-section-gap.course-details-area {
    padding-bottom: 100px;
}

// vue3 pagination style
.VuePagination__count {
    display: none;
}